section
    h1 Dossier Scuola 
    h2 2010 - 2016
    h3 una possibile rinascita?
    aside.notes
        Nel 2010 il Dossier Scuola raccontava motivazioni, strategie, progetti e casi di successo nell'intento di ritrarre lo stato dell'arte nell'adozione di Software Libero nella scuola italiana. 10000 copie sono state distribuite nel territorio italiano grazie a Italian Linux Society. In questi ultimi anni il movimento del Software Libero italiano ha proseguito i lavori con i convegni "Didattica Aperta" e con il canale "WiiLiberaLaLavagna" facilitato dal trascinatore Matteo Ruffoni con grandi risultati: 1000 iscritti e grande attivismo. Oggi, a distanza di 6 anni, il panorama si è drasticamente evoluto: la domanda di "capire come funzionano le cose" (cfr. Banzi) si è impennata così come la necessità di praticare le basi della sharing economy e far sperimentare ai ragazzi l'arricchimento reciproco nella condivisione della conoscenza. E anche a livello ministeriale ha avuto delle ripercussioni senza precedenti. È stato elaborato un Piano Nazionale Scuola Digitale (PNSD): quale il suo intento e, può essere o meno una concreta opportunità per potenziare il software libero nella scuola? Così come il movimento del CoderDojo e l'apprendimento sviluppato su code.org e la rete degli Animatori Digitali della Scuola Italiana gemmatasi dalla rete dei Campioni Digitali... e i PON i piani di innovazione nelle scuole Quali opportunità rappresenta questo scenario? E quali i rischi così come presentati da Rubini nel suo articolo "il nuovo che arretra" (pubblicato da fsfe.org)? In questo talk cercheremo di fare il punto della situazione

    br
    p
        small Created by 
            a(href="http://www.lucaferroni.it") Luca Ferroni 
            span  / 
            a(href="http://twitter.com/ferodafabriano") @ferodafabriano

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/Copertina.png").fullcover

section
    h1 Linux Day 2010...! 
    h3
        i investiamo in oro grigio
    h3.fragment Fare il punto su Software Libero, Scuola, Rete
    h3.fragment Dirlo ai docenti e ai dirigenti scolastici
    h3.fragment 10.000 copie distribuite nel 2011

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/linuxday2010.png").fullcover
    div.roundbox.lightyellow
        h1 Linux Day 2010
        h2 123 città! 

section

    section
        h1 Chi?

    section
        h1 4 autori
        div.table
            span.author
                img(data-src="./imgs/enza.png")
                p Enza Viccione
                p 18 anni

            span.author
                img(data-src="./imgs/tapion.png")
                p Riccardo Serafini
                p 19 anni
            span.author
                img(data-src="./imgs/feroda.png")
                p Luca Ferroni
                p 30 anni
            span.author
                img(data-src="./imgs/fabio.png")
                p Fabio Prioretti
                p > 30 anni ;)

    section
        h1 50 contributori
        h3 docenti, apassionati, tecnici di laboratorio

    section
        h1 1 grafica
        h3 Martina Doppio della scuola Diskos

    section
        div.partner
            img(data-src="imgs/ils.png")
        h2 Italian Linux Society 
        h3 idea e finanziamento stampa
        p
            a(href="http://www.linux.it") www.linux.it

    section
        div.partner
            img(data-src="imgs/befair-logo.png")
        h2 beFair di Luca Ferroni
        h3 server e coordinamento
        p
            a(href="http://www.befair.it") www.befair.it

    section
        div.partner
            img(data-src="imgs/logoPDP_restyleFlat.png")
        h2 PDP Free Software User Group
        h3 mediawiki, contenuti e rete
        p
            a(href="http://pdp.linux.it") pdp.linux.it

    section
        h1 Le liste di riferimento
        ul
            li scuola@lists.linux.it
            li wii_libera_la_lavagna@googlegroups.com

section
    h1 E parte il documento...
    h2 
        i la rivoluzione è una scelta!
        p (La lettera di Enza)

section(data-background-transition="zoom",data-background="imgs/dante-un-nuovo-modo.png").fullcover

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/gaber-motivazioni.png").fullcover

section(data-transition="convex")
    h1 1. Motivazioni
    h3 tangibili
    p ridurre i costi, POF, sicurezza, innovazione, riuso
    h3 educative
    p materia vs software, spirito civico, cooperazione, possibilità di approfondire

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/machiavelli-strategie.png").fullcover

section(data-transition="convex")
    h1 2. Strategie
    p preparazione, progettazione, attuazione, risposte ai dubbi comuni

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/gutenberg-soluzioni.png").fullcover

section(data-transition="convex")
    h1 3. Software per la didattica
    p navigazione, ufficio, multimedia, DSA, didattica, specifiche materie

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/newton-esperienze.png").fullcover

section(data-transition="convex")
    h1 4. Esperienze e progetti
    p 17 istituti, 14 progetti, SoDiLinux, FUSS, DebianEdu, WII4DIDA, NetLive, Esperimenti di Cinema


section
    h1 IMPATTO RETE
    p Matteo Ruffoni, Piergiovanna Grossi (Didattica Aperta), Pietro Pilolli (WiiLDOS), Claudio Carboncini (Matematica C3), Prof Cantaro (Majorana), Lucia Ferlino - Giovanni Caruso - Francesco Fusillo (SoDiLinux), Ezio Da Rin - prof. Marco Clochiatti (NetLive), LUG Chiaravalle (IIS Podesti Onesti), ... e tante altre esperienze locali

section
    h1 IMPATTO EVENTI
    p Didattica Aperta, CONFSL11, CONFSL12, Didamatica, Linux Day, Brain jumble, SIAM, Università di Siena, ...

section
    h1 IMPATTO WEB/MEDIA
    p 
        a(href="https://joinup.ec.europa.eu/") JOINUP (ex OSOR) 
        a(href="http://www.lepida.com") LEPIDA
        span , 
        a(href="http://radio.rai.it") RADIO.RAI.IT (26 aprile 2011)
        span , 
        a(href="http://www.pollycoke.org") Pollycoke 
        span , 
        a(href="http://www.sprea.it/scheda.php?id_riv=42") Linux Pro 
        span ...

section
    h1 IMPATTO MEETINGS
    p MIUR, USR Marche

section
    h1 MANCATO VALORE...
    p www.dossierscuola.it
    p blog con redazione
    p tanti contenuti non letti
    p meetings nel vuoto...

section
    h1 Di cosa si parla nel 2016?

section
    h1 Matteo Ruffoni racconta...
    h3 wii libera la lavagna (1000)
    p.
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gjzhkok096k" frameborder="0" allowfullscreen></iframe>

section
    h1 Il MIUR ha parlato di
    h3 Classi 2.0
    h3 Scuola 2.0
    p
        e ora...

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/pnsd.png").fullcover

section
    div.img-right
        img(data-src="imgs/pnsd.png")
    h1 4 passaggi
    ul
        li Strumenti
        li Competenze e contenuti
        li Formazione
        li Accompagnamento

section
    div.img-right
        img(data-src="imgs/pnsd.png")
    h1 Ambiti
    ol
        li Connettività
        li Ambienti virtuali, nuovi labs
        li Carta d'identità digitale
        li Registro elettronico e Open Data
        li Dalle materie alle competenze
        li Imprenditorialità
        li Fuori dalle aule: alternanza
        li Formare i docenti
        li Animatori digitali

    p
        small
            a(href="http://ischool.startupitalia.eu/education/38902-20151029-piano-nazionale-scuola-digitale-35-punti") sintesi su StartupItalia, Carlotta Balena (ott. 2015)

section
    h1 35 azioni finanziate
    p (cifre indicative)
    ol
        li 100ML + altri fondi
        li 700ML + altri fondi
        li da stanziamenti ordinari
        li 50ML
        li 1,5ML + altri fondi
        li 3ML + altri fondi
        li 1,5ML + altri fondi
        li 16ML
        li 8,5ML

section
    h1 Il Software Libero ha soluzioni?

section
    h1 Si parla di
    h3 Animatori Digitali nella Scuola
    p
        small 
            a(href="https://www.facebook.com/groups/192061141131377/?fref=ts") Rete su gruppo facebook chiuso

section
    h1 Il Software Libero può dire la sua?

section
    section(data-background-transition="convex",data-background="imgs/coderdojo_italia_logo.png").fullcover
    section(data-background-transition="convex",data-background="imgs/scratch_logo.jpg").fullcover
    section(data-background-transition="convex",data-background="imgs/CODE_logo_RGB.png").fullcover
    section
        h3 ATTENZIONE! Resnick preoccupato di 
        h3
            i The Hour of Code (code.org)
        img(data-src="imgs/resnick-different.png",width="80%")
        p
            a(href="https://medium.com/bright/a-different-approach-to-coding-d679b06d83a#.so93jeyq0") articolo originale 
            / 
            a(href="https://medium.com/@AndreaFerraresso/un-approccio-diverso-al-coding-b329ca82cb0c") traduzione italiana

section
    h2 Strutturiamo un nuovo
    h2 Dossier Scuola sul PNSD?
    h3 (10 persone per iniziare)

section(data-background-transition="zoom",data-transition="convex",data-background="imgs/linuxday2010.png")

    div.roundbox.lightyellow
        h2 ...e vogliamo offrire soluzioni in rete?
        ul
            li Scuole
            li Aziende
            li Rete del Software Libero
            li Comunità locale

section
    h1 Possiamo rispondere al PNSD?
    p parliamone su wii_libera_la_lavagna@googlegroups.com 
      o luca@befair.it, @ferodafabriano o www.befair.it 
    h1 GRAZIE
